<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Completed</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            background-color: #fff;
            padding:80px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .icon {
            font-size: 48px;
            color: #4CAF50;
            margin-bottom: 20px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
            margin-top: 10px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="icon">&#10004;</div>
        <h1>Sifarişiniz Təsdiqləndi</h1>
        <p>Sifarişiniz uğurla yerləşdirildi.</p>
        <p>Bizimlə alış-veriş etdiyiniz üçün təşəkkür edirik!</p>
        <a href="#" class="btn">Alış-verişə davam et</a>
    </div>
</body>
</html>

